<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modding Template - Doki Doki Modding Central</title>
    <link rel="stylesheet" href="../../assets/css/styles.css" />
    <link rel="stylesheet" href="../../components/header/header.css" />
    <link rel="stylesheet" href="../../components/footer/footer.css" />
    <link rel="stylesheet" href="../../assets/css/page_specific/template.css" />
    <link rel="icon" href="../../assets/gui/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <main>
      <section id="template-container">
        <h1>Doki Doki Modding Template</h1>

        <div class="template-box">
          <h2>Getting Started</h2>
          <p>
            The Doki Doki Modding Template (DDMT) is a comprehensive framework
            designed to help you create mods for DDLC quickly and efficiently.
            This template provides a structured and minimalistic foundation for
            your projects with pre-configured scripts, documentation, and
            folders.
          </p>
        </div>

        <div class="template-box">
          <h2>Features</h2>
          <ul>
            <li>Pre-configured script structure for easy development</li>
            <li>
              Cross-compatibility with the latest Ren'Py engine versions as well
              as legacy Ren'Py engine versions
            </li>
            <li>Vanilla story scripts as reference material</li>
            <li>
              Built-in support for common modding features such as custom
              assets, dialogue, and events
            </li>
            <li>Clean organization to help keep your project maintainable</li>
            <li>
              An addons folder for separating custom code from vanilla code
            </li>
          </ul>
        </div>

        <div class="template-box">
          <h2>Download</h2>
          <p>You can find our template here:</p>
          <a
            href="https://github.com/L4w1i3t/Doki-Doki-Modding-Template/releases"
            target="_blank"
            class="download-button"
            >Download DDMT</a
          >
        </div>

        <div class="template-box">
          <h2>Installation</h2>
          <ol>
            <li>Download and extract a fresh copy of DDLC from ddlc.moe</li>
            <li>Download and extract the DDMT zip file</li>
            <li>
              Place the extracted files of the template in your Ren'Py projects
              directory
            </li>
            <li>
              Transfer the following files from your DDLC copy into the "game"
              folder of the template: audio.rpa, fonts.rpa, images.rpa
            </li>
            <li>Launch Ren'Py and select the DDMT project for testing</li>
            <li>Have fun modding! (This step is non-negotiable.)</li>
          </ol>
        </div>

        <div class="divider"></div>

        <div class="template-box">
          <h2>Documentation</h2>
          <p>
            For detailed guidance on using the template, please refer to our
            comprehensive documentation:
          </p>
          <a href="../notavailable.html" target="_blank" class="resource-link"
            >View Documentation</a
          >
        </div>
      </section>
    </main>

    <script src="../../components/addComponents.js"></script>
    
  </body>
</html>
