@font-face {
  font-family: "HotMustardBTNRegular";
  src: url("/assets/fonts/HotMustardBTNRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Ensure full height */
}

p,
li,
a {
  font-variant-ligatures: common-ligatures contextual ligatures
    discretionary-ligatures historical-ligatures standard ligatures;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  white-space: normal;
  word-spacing: normal;
}
